$large-desktop: 1920px;
$laptop-large: 1440px;
$laptop-middle-L: 1250px;
$laptop-middle: 1150px;
$laptop-small: 1024px;
$tablet: 768px;
$mobile-large: 425px;
$mobile-middle: 375px;
$mobile-small: 320px;



@mixin large-desk {
  @media (max-width: $large-desktop) {
    @content;
  }
}

@mixin large-laptop{
  @media (max-width: $laptop-large){
    @content;
  }
}

@mixin laptop-middle-l{
  @media (max-width: $laptop-middle-L){
    @content;
  }
}

@mixin laptop-middle{
  @media (max-width: $laptop-middle){
    @content;
  }
}

@mixin laptop-small{
  @media (max-width: $laptop-small){
    @content;
  }
}

@mixin tablet{
  @media (max-width:  $tablet) {
    @content;
  }
}

@mixin mobile-large{
  @media (max-width: $mobile-large) {
    @content;
  }
}


@mixin mobile-middle{
  @media (max-width: $mobile-middle) {
    @content;
  }
}

@mixin mobile-small{
  @media (max-width: $mobile-small) {
    @content;
  }
}